hr {
  background-color: white;
}
iframe {
  /* display: block; */
  /* margin: 0 auto; */
  /* margin-bottom: 20px; */
}
body {
  background: linear-gradient(90deg,rgb(255,215,45),rgb(255, 250, 205), rgb(255,215,45));
}

.image-border {
  padding: 0px 0px;
  border: 3px solid #654321;
  background-color: #ffcf40;
}

.nav {
  margin-left: 35px;
  margin-bottom: 0px;
}
.content p {
  color: #654321;
}

#navlist {
  display: inline-block;
  width: 100%;
}

#navlist ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navlist li {
    width: 12.5%;
    margin-right: 7%;
    float: left;
    list-style-type: none;
}

#navlist li a {
    display: block;
    color: #654321;
    font-weight: 550;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navlist li a:hover {
    background-color: #ffcf40;
}

#logo-banner {
  display: block;
  border: 3px solid #654321;
  padding: 10px;
  max-width: 746px;
  max-height: 257px;
  margin: 10px auto;

  }
#banner {
  margin: 10px auto;
}
.row {
  padding: 10px 10px;
}
.parallax1 {
    /* The image used */
    background-image: url("../img/women-in-the-field.jpg");

    /* Set a specific height */
    min-height: 300px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.parallax1 h1 {
  text-align: center;
  padding-top: 120px;
  color: white;
}
.image-left {
  display: inline;
  width: 100%;
  margin: 0 auto;
}
.image-right {
  display: inline;
  width: 100%;
  margin: 0 auto;
}

.jumbotron {
  padding-top: 15px !important;
  padding-bottom: 10px !important;
  padding-left: 15px !important;
  padding-right: 15px !important;
  background-color: transparent !important;

}
.checklist {
  font-size: 1.5em;
  padding-top: 7px;
  border: 2px double #654321;
  background-color: #ffcf40;
}
#checklist1 {
  margin-top: 25px;
}
.checklist ul {
  list-style: none;
}

.checklist ul li:before {
  content: '✓';
}

.center-message {
  text-align: center;
  padding: 0 5%;
}
.center-message h3 {
  padding: 20px 20px;
  border: 2px double #654321;
  background-color: #ffcf40;
}

.subheader {
  color: rgb(255,140,0);
  text-shadow: 1px 1px #a67c00 ;
}
.title {
  text-align: center;
  color: white;
}
