hr {
  background-color: white;
}
iframe {
  /* display: block; */
  /* margin: 0 auto; */
  /* margin-bottom: 20px; */
}
body {
  background: linear-gradient(250deg,rgb(255, 250, 205),rgb(255, 245, 150),rgb(255,215,0));
}

.navbar {
  margin-left: 35px;
}
.content p {
  color: rgb(139,69,15);
}

#navlist {
  display: inline-block;
  width: 100%;
}

#navlist ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#navlist li {
    width: 12.5%;
    margin-right: 7%;
    float: left;
    list-style-type: none;
}

#navlist li a {
    display: block;
    color: grey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navlist li a:hover {
    background-color: #ffcf40;
}

#logo-banner {
  display: block;
  border: 3px solid #a67c00;
  padding: 10px;
  max-width: 746px;
  max-height: 257px;
  margin: 10px auto;

  }
#banner {
  margin: 10px auto;
}
.row {
  padding: 10px 10px;
}
.image-left {
  display: inline;
  width: 100%;
  margin: 20px auto;
}
.image-right {
  display: inline;
  width: 100%;
  margin: 20px auto;
}

.jumbotron {
  background-color: transparent !important;

}
.checklist {
  font-size: 2em;
}
.checklist ul {
  list-style: none;
}

.checklist ul li:before {
  content: '✓';
}

.center-message {
  text-align: center;
  padding: 0 15%;
}

.subheader {
  color: rgb(255,140,0);
  text-shadow: 1px 1px #a67c00 ;
}
.title {
  text-align: center;
  color: white;
}
